<!DOCTYPE html>
<html lang="en">

<head>
	<title>View Ticket</title>
</head>
<div th:replace="header :: header"></div>

<body>
	<div th:replace="header :: navbar"></div><br>

	<div class="container">
		<div class="row col-md-8 offset-md-2">
			<div class="card">
				<div class="card-header">
					<h2 class="text-center">View Ticket</h2>
				</div>
				<form th:action="@{'/admin/tickets'}" th:object="${ticket}">
					<div class="form-group">
						<label for="title">Title</label>
						<input type="text" class="form-control" id="title" th:field="*{title}" readonly /><br>
					</div>
					<div class="form-group">
						<label for="ticketStartDate">Created On</label>
						<input type="date" class="form-control" id="createdOn" th:field="*{ticketStartDate}"
							readonly /><br>
					</div>
					<div class="form-group">
						<label for="ticketShortDescription">Short Description</label>
						<textarea type="textarea" class="form-control" id="ticketShortDescription"
							th:field="*{ticketShortDescription}" readonly /><br>
					</div>
					<div class="form-group">
						<label for="ticketContent">Ticket Content</label>
						<textarea type="textarea" class="form-control" id="ticketContent" th:field="*{ticketContent}"
							readonly /><br>
					</div><br>
					<button type="submit" class="btn btn-primary">Back</button>
				</form>
</body>
<script src="https://cdn.tiny.cloud/1/your_api_key/tinymce/5/tinymce.min.js"></script>
<script>
	tinymce.init({
		selector: '#ticketContent',
		height: 200,
		menubar: false,
		setup: function (editor) {
			editor.setMode("readonly")
		},
		plugins: [
			'advlist autolink lists link image charmap print preview anchor',
			'searchreplace visualblocks code fullscreen',
			'insertdatetime media table paste code help wordcount'
		],
		toolbar: 'undo redo | formatselect | bold italic backcolor | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | removeformat | help',
		content_css: '//www.tiny.cloud/css/codepen.min.css'
	});
</script>

</html>