body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #222;
}
.login {
    background-color: white;
    border-radius: 5px;
    padding: 2rem;
    text-align: center;
}
input[type="text"], input[type="password"] {
    display: block;
    margin: 0.5rem auto;
    padding: 0.5rem;
    width: 100%;
    max-width: 300px;
    font-size: 1rem;
}
button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin: 0.5rem auto;
    cursor: pointer;
    border-radius: 5px;
}