body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

#content-container {
    width: 80%;
    margin: 0 auto;
    background-color: #f4f4f4;
    padding: 1rem;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    background-color: #f4f4f4;
    margin-bottom: 1rem;
}
#outerDiv{
border: 1px solid black;
}
#header h1 {
    margin: 0;
    font-size: 2rem;
    font-weight: bold;
}

#header h3 {
    margin: 0;
}

#resume {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: auto;
    grid-template-areas: "left right";
    margin-top: -10px;
}

.left {
    grid-area: left;
    padding: 1rem;
    background-color: #f4f4f4;
    margin-left: 44.5%;
    width: 60%;

}

.right {
    grid-area: right;
    padding: 1rem;
    width: 82.5%;
    margin-left: 40px;

}

.section {
    margin-bottom: 1rem;
}

h2 {
    margin-bottom: 0.5rem;
}

ul {
    list-style: none;
    padding-left: 0;
}

li {
    margin-bottom: 0.5rem;
}
#searchForm {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    margin: auto;
}
#searchInput{
    margin-left: 0%;
    width: 500px;
    height: 40px;
}
#searchButton{
    margin-left: 50px;
    color: #a2d5c6;
    height: 45px;
    background-color:#d72631 ;
}
#usrImg{
    height: 100px;
    width: 100px;
    margin-left: 90%;
    margin-top: -87px;
}